extends ../layout

block header
    include ../inc/admin-nav
    
prepend content
    .row 
        .col-md-12 
            section.submit
            
                h3.pull-left #{post.originalname}
                p.pull-right Uploadé par #{post.uploaded_by.email} 
                    //pre #{post}
                    //pre #{jour}
                img(src="#{root_url}/uploads/#{post.filename}")


