extends ../layout

block header
    include ../inc/admin-nav
    
prepend content
    .row 
        .col-md-12 
            section.submit
            
                h3.pull-left #{post.originalname}
                p.pull-right Uploadé par #{post.uploaded_by.email} 
                    //pre #{post}
                    //pre #{jour}
                img(src="#{root_url}/uploads/#{post.filename}")
                hr
                form(name="submit", action="/admin/attachments/edit/#{post._id}", method="post" )
                    div.form-group
                        label(for="texte") Titre
                        input(name="title" class="form-control" type="text" value="#{post.title}")

                    div.form-group
                        label(for="texte") Description
                        textarea(name="texte" class="form-control" rows="5") #{post.texte}

                    div.form-group     
                        input(type="submit", class="btn btn-lg btn-primary btn-block", value="Submit")

