extends ../layout

block header
    include ../inc/admin-nav
        
block content

    h2 
        span #{title} 
        a(href="/admin/posts/new" class="btn btn-primary") Ajouter
    hr


   
    section
        //pre #{posts}
        .row
            .col-md-12
                h3 Filtres
            .col-md-3
                a(href="/admin/posts" class="btn btn-default btn-block") Tous
            .col-md-3
                a(href="/admin/posts/filter/page" class="btn btn-success btn-block") Pages
             
            .col-md-3
                a(href="/admin/posts/filter/image" class="btn btn-info btn-block") Images

            .col-md-3
                form(method="POST" action="/admin/posts/search/" class="form-inline" role="form")
                    .form-group
                        input(type="text", class="form-control", name="s" placeholder="Mots clefs" value="")
                        input(type="submit", class="btn btn-primary ", value="Chercher")
        
        hr 
            
        table.table.table-striped
            thead
                tr.panel.panel-default
                    td 
                        span Nom 
                        a(href="/admin/posts/sort/title/1") ↑ 
                        a(href="/admin/posts/sort/title/-1") ↓
                    td 
                        span Date 
                        a(href="/admin/posts/sort/date/1") ↑ 
                        a(href="/admin/posts/sort/date/-1") ↓
                    td 
                        span Type 
                        a(href="/admin/posts/sort/post_type/1") ↑ 
                        a(href="/admin/posts/sort/post_type/-1") ↓
                    td Invités
                    td 
                        span Status 
                        a(href="/admin/posts/sort/post_status/1") ↑ 
                        a(href="/admin/posts/sort/post_status/-1") ↓
                    td Actions
            tbody

            each post in posts
                tr
                    td #{post.title}
                            
                    td #{moment(post.date).format('DD.MM.YYYY')}

                    td #{post.post_type}
                    td 
                        if post.users_in
                            span #{post.users_in.length}

                    td #{post.post_status}
                    td.btn-group
                            a(href="/admin/posts/edit/#{post._id}" class="btn btn-primary") Edit
                            a(href="/admin/posts/delete/#{post._id}" class="btn btn-danger") Delete