- var cl = p.title == "" ? "noma" : "";
article.col-md-3(class="card #{cl}" id="#{p._id}")
    //pre #{p}
    if p.filename
        if p.thumbnail
            -var image = root_url+'/uploads/'+p.thumbnail;
        else
            -var image = root_url+'/uploads/'+p.filename;
        .card-img.anime_md(style="background-image:url(#{image});")
    else
        -var url = root_url+"/img/default.jpg";
    .card-content
        h3.anime #{p.title}
