article.col-md-12.card-full
    .row
    
        .container-fluid
            .col-md-9
                //pre #{post}
                -var image = root_url+'/uploads/'+post.filename;
                img(src="#{image}")
            .col-md-3
                .scroll-pane
                    if post.title
                        h4 #{post.title}
                    else
                        h4 #{post.originalname}
                    p Par <i>#{post.uploaded_by.email}</i>
                    if post.createdAt
                        p.dates Du <strong>#{moment(post.createdAt).format('DD.MM.YYYY')}</strong>
                    p !{post.texte}
                    
                    hr
                    
                    include comments-attachments