- var cl = p.title == "" ? "noma" : "";
article.col-md-3(class="card #{cl}" id="#{p._id}")
    //pre #{p}
    
    -var image = root_url+'/uploads/'+p.filename;
    .card-img.anime_md(style="background-image:url(#{image});")
    .card-content
        h3.anime #{p.title}
