div.modal.fade#modal_upload(role="dialog")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.pull-left Upload
                button(type="button" class="close pull-right" data-dismiss="modal")
                    //i.fa.fa-close
                    span.glyphicon.glyphicon-remove
            .modal-body
                #upload
                    h3 Ajouter vos images
                    form(method="post" class="upload" action="/api/#{post._id}/upload", enctype="multipart/form-data")
                        
                        .form-group
                            
                            .form-inline
                                input(type="file" name="media[]" multiple accept="image/*")

                        .form-group.progress-wrapper
                            .progress
                                div(class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" )
                                    span.sr-only

                        .form-group.noma 
                            input(type="hidden" name="post_type" value="image")
                            input(type="hidden" name="uploaded_by" value="#{user._id}")
                            input(type="hidden" name="parent" value="#{post._id}")
                            input(type="hidden" name="redirect_to" value="/c/#{post.category}/#{post.slug}")
                            button(type="submit", class="btn btn-lg btn-primary btn-block", value="")
                                i.fa.fa-upload  
                                span  Envoyer

            .modal-footer