extends layout

block content
    .row
        .container-fluid
            .col-md-9.page-heading
                h1.title #{title}
                p.dates Du <strong>#{moment(post.from).format('DD.MM.YYYY')}</strong> Au <strong>#{moment(post.to).format('DD.MM.YYYY')}</strong>
                if post.texte    
                    p.texte !{post.texte}
            .col-md-3.page-action
                button(type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal_upload")
                    span
                        i.fa.fa-upload  
                    span  Upload

    .row
        .container-fluid
            .col-md-12
                hr
                
    for post2D in posts2D 
        .row.grid-row
            input(type="hidden" id="page_id" value="#{post._id}")
            .container-fluid      
                for p in post2D
                    include posts/card-3
    
    .row
        .container-fluid
            .col-md-9
            .col-md-3.page-action
                button(type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal_upload")
                    span
                        i.fa.fa-upload  
                    span  Upload
                    
    include modal