extends layout

block content
    
    .container-fluid
        .planning-single
            .row
                .col-md-4.col-visuel
                    if post.image
                        img(src="#{root_url}/uploads/#{post.image.filename}")
                    else
                        img(src='#{root_url}/img/default.jpg')
                .col-md-8.col-body
                    .dates #{moment(post.from).format('DD.MM.YYYY')} ↝ #{moment(post.to).format('DD.MM.YYYY')}
                        
                    h2 #{post.title}
                    p #{post.description}
                
                    .sep2em

                    table(class="table table-striped")
                        thead
                            tr.panel.panel-default
                                td Parcours
                                td Destination
                                td Distance
                                td Jours
                                td Équipage
                        tbody
                            tr
                                td #{post.parcours}
                                td #{post.destination}
                                td #{post.distance}
                                td #{post.jours}
                                td #{post.equipage}
                    
                    .sep2em
                    hr
                    .sep2em

                    .row
                        .col-md-6
                            h3 Commentaires
                            include posts/comments-planning
                    
