extends layout

block content

    .container-fluid
        .row
            .col-md-12.page-heading
                h2.title Planning
                .sep1em
            

    
    .container-fluid.planning-liste
        
        table.table.table-striped
            thead
                tr.panel.panel-default
                    td Dates
                    td Titre
                    td Description
                    td Destination
                    td Distance
                    td Jours
                    td Actions
                    
            tbody
            each p in posts
                tr
                    td.text-center
                        div.date #{moment(p.from).format('DD.MM.YYYY')}
                        div ↘
                        div.date #{moment(p.to).format('DD.MM.YYYY')}
                    td 
                        h3 
                            a(href="/p/#{p.slug}") #{p.title}
                    td #{p.description}
                    td ↝ #{p.destination}
                    td #{p.distance}
                    td #{p.jours}
                    td
                        a(href="/p/#{p.slug}" class="btn btn-primary") Voir
                   